<%- contentFor('body') %>
<hr />
<h2>Create your own editor!</h2>
<form id="form" method="get" action="/create">
    <div class="field">
        <input type="text" name="name" id="name" placeholder="username" />
    <!-- </div> -->
    <!-- <div class="field"> -->
        <ul class="actions">
            <li><a class="button" onclick="document.getElementById('form').submit();">Go</a></li>
        </ul>
    </div>
</form>
<!-- <hr /> -->